* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

header {
  position: fixed;
  top: 10px;
  left: 10px;
  z-index: 100;
}

body {
  height: 100vh;
  width: 100vw;
  margin: 0;
  font-family: Georgia, "Times New Roman", Times, serif;
}

.mainPng {
  height: 90vh;
  width: 90vw;
  margin: 0 auto;
  padding-left: 10px;
  display: flex;
  flex-flow: row wrap;
  align-content: center;
  /* filter: blur(1.5rem); */
  /* position: fixed; */
  z-index: -1;
}

.mainPng.gallery {
  align-content: initial;
}

.mainPng.gallery .pngs {
  width: 30vmin;
  padding: 10px;
}

.mainPng.gallery img {
  width: 100%;
}

.pngs {
  position: relative;
  height: max-content;
  width: inherit;
  display: grid;
  place-content: center;
}

img {
  /* position: absolute; */
  /* height: inherit; */
  width: calc(100vh / 1.5);
}

#sky {
  position: absolute;
  top: 0%;
  left: 50%;
  transform: translate(-50%, 0%);
  /* width: calc(68.75% * 0.9); */
  padding: 2.6rem;
  z-index: 100;
  z-index: -2;
  mix-blend-mode: multiply;
}

#field {
  position: absolute;
  padding: 2.6rem;
  top: 100%;
  left: 50%;
  transform: translate(-50%, -100%);
  z-index: -2;
  mix-blend-mode: multiply;
}

#frame {
  /* position: fixed; */

  mix-blend-mode: multiply;

  /* width: 90%; */
  /* z-index: 1; */
}

.library {
  display: grid;
  object-fit: contain;
}

.title {
  position: fixed;
  height: max-content;
  top: inherit;
  left: 85%;
  transform: translate(0%, -100%);
  width: 10%;
  opacity: 0;
  display: grid;
  place-content: center;
  word-break: break-word;
  font-size: 0.7em;
  transition: opacity 300ms ease-in;
  padding-left: 2rem;
}

#home {
  color: grey;
  text-decoration: none !important;
}

.about {
  display: fixed;
}

.library:hover {
  text-decoration: underline;
}

.intro {
  display: none;
  /* position: absolute; */
  position: relative;
  width: 390px;
  z-index: 100;
  padding-top: 5px;
}

.intro p {
  font-size: 1.75vmin;
  hyphens: manual;
  margin: 0;
  padding-top: 0.7vmin;
  line-height: 1.15;
}

.intro p + p {
  text-indent: 1.2rem;
}

.about:hover + .intro {
  /* display: block; */
}

.about:hover + .title {
  /* display: none; */
}

@media only screen and (max-width: 600px) {
  .header {
    z-index: 100;
  }

  img {
    /* position: absolute; */
    /* height: inherit; */
    width: 90vmin;
    z-index: -1;
  }

  .title {
    position: initial;
    top: 0;
    left: 0;
    transform: none;
    width: 90vmin;
    display: grid;
    place-content: center;
    font-size: 1.2em;
    text-align: center;
    word-break: normal;
    margin: 0 auto;
    padding-left: 0rem;
  }

  .mainPng {
    width: 100%;
    height: 100%;
    z-index: -1;
    margin-left: -5px;
    overflow-x: hidden;
  }

  .mainPng.gallery {
    margin-left: 35px;
    padding-left: 10px;
  }

  .mainPng.gallery .pngs {
    width: 80vmin;
    padding-top: 20px;
    padding: 20px;
    /* padding-left: 5px; */
    pointer-events: none;
    z-index: -1;
  }

  .intro {
    display: none;
    /* font-size: 1rem; */
    /* position: absolute; */
    /* position: relative; */

    width: 100%;
    left: 0;
    top: 0;
    z-index: 100;
    overflow-y: auto;
  }

  .intro p {
    font-size: 0.9rem;
    hyphens: manual;
    margin: 0;
    padding-top: 0.8vmin;
    line-height: 1.15;
  }

  .intro p + p {
    text-indent: 1.3rem;
  }
}

@media only screen and (min-width: 786px) and (max-width: 1024px) {
  .intro p {
    /* background-color: pink; */
    font-size: 1.8vmin;
  }
}
